@keyframes addJokesBtn {
    0%{box-shadow: 0px 0px 5px #006fc9; text-shadow: 0px 0px 8px #006fc9;}
    50%{box-shadow: 0px 0px 10px #006fc9; text-shadow: 0px 0px 20px #006fc9;}
    100%{box-shadow: 0px 0px 5px #006fc9; text-shadow: 0px 0px 8px #006fc9;}
}

@keyframes addJokesBtnHover {
    0%{box-shadow: 0px 0px 5px #ab0ce4; text-shadow: 0px 0px 8px #ab0ce4;}
    50%{box-shadow: 0px 0px 10px #ab0ce4; text-shadow: 0px 0px 20px #ab0ce4;}
    100%{box-shadow: 0px 0px 5px #ab0ce4; text-shadow: 0px 0px 8px #ab0ce4;}
}

@keyframes markeeJokes {
    0%{text-shadow: 0px 0px 5px #006fc9;}
    50%{text-shadow: 0px 0px 19px #006fc9;}
    100%{text-shadow: 0px 0px 5px #006fc9;}
}


.JokeList{
    width:100%;
    height: 100%;
    margin: 0px auto;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.JokeList-Container{
    /* border: 1px solid white; */
    margin: 60px auto;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}

.JokeList-Console{
    background-color: #141414;
    width: 200px;
    height: 600px;
    border-radius: 0px;
    box-shadow: 2px 2px 6px #000000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px #006fc9;
    z-index: 300;

    background-image: url('https://images.unsplash.com/photo-1529753253655-470be9a42781?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    /* Photo by David Jorre on Unsplash */
}

.JokeList-Markee{
    color: #006fc9;
    font-size: 1.3em;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
    text-shadow: 0px 0px 19px #006fc9;
    padding: 0px;
    animation: markeeJokes 3s ease-out infinite;
}

.JokeList-Display{
    background-color: #1d1d1d;
    width:500px;
    border-radius: 0px;
    box-shadow: 2px 2px 6px #000000;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    height: 500px;
    box-shadow: 0px 0px 9px #006fc9;
}

#JokeListDisplayPortal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2d2d2d;
}

#JokeListDisplayPortal::-webkit-scrollbar
{
	width: 10px;
	background-color: #2d2d2d;
}

#JokeListDisplayPortal::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #000000;
}

.JokeList-Control-Btn{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 3px;
    border: 3px solid #006fc9;
    color: #006fc9;
    box-shadow: 0px 0px 9px #006fc9;
    text-shadow: 0px 0px 15px #006fc9;
    animation: addJokesBtn 3s ease-out infinite;
    transition: 1.5s;
}

.JokeList-Control-Btn:hover{
    border: 3px solid #ab0ce4;
    color: #ab0ce4;
    box-shadow: 0px 0px 9px #ab0ce4;
    /* box-shadow: inset 0px 0px 6px #ab0ce4; */
    text-shadow: 0px 0px 15px #ab0ce4;
    animation: addJokesBtnHover 3s ease-out infinite;
    transition: 1.5s;
}